* {
  font-family: 'Courier New';
}

h1 {
  position: relative;
  text-align: center;
  font-size: 2.25em;
  line-height:0.0em;
  margin:0.0em;
  padding:0em;
  margin-top: 1.75em;
}

.inputs {
  margin-left: 4em;
  margin-top: 8em;
  display: inline-block;
  float: left;
}

/* label, button {
  margin-left: 20px;
} */

/* #currentPrice {
  margin-bottom:px;
} */

#ttExp {
  width: 105px;
}

#strike, #strike2, #strike3, #strike4 {
  width: 65px;
}

#xAxisLabel {
  display: block;
  transform: rotate(-90deg);
  margin-top: 100px;
}

#graph {
  margin-top: 4em;
  margin-left: 3em;
  display: inline-block;
  float: left;
}


.ct-label.ct-horizontal.ct-end {
  transform: translate(-50%,0);
    display: block;
    text-align: center;
}

.ct-line.ct-threshold-above, .ct-point.ct-threshold-above, .ct-bar.ct-threshold-above {
  stroke: #59922b;
}

.ct-line.ct-threshold-below, .ct-point.ct-threshold-below, .ct-bar.ct-threshold-below {
  stroke: #f05b4f;
}

.ct-area.ct-threshold-above {
  fill: #59922b;
}

.ct-area.ct-threshold-below {
  fill: #f05b4f;
}